sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t romka04/Romka04.Complex.Core.Tests -f '.\test\Core Libraries\Romka04.Complex.Core.Tests\Dockerfile' . 

script:
  - docker run romka04/Romka04.Complex.Core.Tests
 
after_success:
  - echo "success"