sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t romka04/romka04-complex-core-tests -f './test/Core Libraries/Romka04.Complex.Core.Tests/Dockerfile' . 

script:
  - docker run romka04/romka04-complex-core-tests
 
after_success:
  - docker build -t romka04/romka04-complex-worker -f './src/Workers/Romka04.Complex.Worker/Dockerfile' .
  - docker build -t romka04/romka04-complex-webapi -f './src/Web/Romka04.Complex.WebApi/Dockerfile' .
   # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push romka04/romka04-complex-worker
  - docker push romka04/romka04-complex-webapi