apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
       component: web
    spec:
      containers:
        - name: client
          image: romka04/romka04-complex-webapi:v2
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Production
            - name: ASPNETCORE_URLS
              value: http://+:80
            - name: redis__configuration
              value: redis-cluster-ip-service
            - name: redis__publishChannel
              value: publishChannel2
            - name: connectionStrings__pgDatabase
              valueFrom:
                secretKeyRef:
                  name: pg-conn-str
                  key: connectionString__pgDatabase